* {
  font-family: "Source Serif 4", serif;
}

main section {
  border-bottom: 2px solid #c9a83f;
  padding-bottom: 30px;
}

main {
  border-bottom: 2px solid #c9a83f;
  padding-bottom: 30px;
}

header {
  border-bottom: 2px solid #c9a83f;
}

nav .navbar-brand:hover {
  color: rgb(158, 164, 178);
  transition: 0.2s ease;
}

nav .nav-link:hover {
  color: rgb(158, 164, 178);
  transition: 0.2s ease;
}

nav .navbar-brand {
  font-size: 70px;
  color: #c9a83f;
}

nav .nav-link {
  font-size: 20px;
  color: #c9a83f;
}

nav ul {
  gap: 20px;
}

form label {
  font-size: 25px;
}

footer div h1 {
  font-size: 30px;
}
