* {
  font-family: "Source Serif 4", serif;
}

main section {
  border-bottom: 2px solid #c9a83f;
  padding-bottom: 30px;
}

main {
  padding-bottom: 30px;
}

footer {
  border-top: 2px solid #c9a83f;
  padding-top: 20px;
}

header {
  border-bottom: 2px solid #c9a83f;
}

nav .navbar-brand:hover {
  color: rgb(158, 164, 178);
  transition: 0.2s ease;
}

nav .nav-link:hover {
  color: rgb(158, 164, 178);
  transition: 0.2s ease;
}

nav .navbar-brand {
  font-size: 20px;
  color: #c9a83f;
}

@media (min-width: 768px) {
  nav .navbar-brand {
    font-size: 50px;
    color: #c9a83f;
  }
}

@media (min-width: 992px) {
  nav .navbar-brand {
    font-size: 70px;
    color: #c9a83f;
  }
}

nav .nav-link {
  font-size: 20px;
  color: #c9a83f;
}

nav ul {
  gap: 20px;
}

form label {
  font-size: 25px;
}

footer div h1 {
  font-size: 30px;
}

main .btn-warning:hover {
  background-color: rgb(158, 164, 178);
  transition: 0.2s ease;
  border-color: rgb(158, 164, 178);
}

.table .thead-th {
  background-color: #c9a83f;
}
